[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
	ignore = dirty

[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv
	ignore = dirty

[submodule ".nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm
	ignore = dirty

[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty

[submodule ".pyenv/plugins/pyenv-virtualenv"]
	path = .pyenv/plugins/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv
	ignore = dirty
