[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm
